[semihtml]<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=682&amp;thumb=0" title="" / /></p>

<p>Available for both iOS and Android, FishingMobile is a free app to check tides &quot;Among a plethora of other things&quot;. The ads are non-intrusive, it&#39;s easy to use and does not stay in the background.</p>

<p>[youtube]https://www.youtube.com/watch?v=OsMjhFHOjGM[/youtube]</p>[/semihtml]
[html]<h3>Contents</h3>

<ul>
	<li><a href="#lnk_1" id="lnk_c_1">Login screen</a></li>
	<li><a href="#lnk_2" id="lnk_c_2">Forgot password</a></li>
	<li><a href="#lnk_3" id="lnk_c_3">One time registration</a></li>
	<li><a href="#lnk_4" id="lnk_c_4">Guest mode</a></li>
	<li><a href="#lnk_5" id="lnk_c_5">Syncing</a></li>
	<li><a href="#lnk_6" id="lnk_c_6">Home screen</a></li>
</ul>

[/html][semihtml][title]<strong><span class="inner">Login, Syncing and Home Screen</span></strong>[/title][/semihtml][html]

<h2><strong><a href="#lnk_c_1" id="lnk_1">Login screen</a></strong></h2>

<p>Users can login in two modes, the guest mode and the registered user mode.</p>

<p><img alt="Login Screen" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=904&amp;thumb=0" title="Login Screen" / /></p>

<p class="associated_details">Login Screen</p>

<p>You can register by pressing the&nbsp;<em>Sign Up</em> button. If you have already registered then just enter your e-mail and password details and press <em>Login</em>.</p>

<p>The app offers an option to use it without registering. If you skip user registration then the application will be opened in &#39;Guest Mode&#39;. The difference between &#39;Guest Mode&#39; and the registered user mode is that users cannot log their fish log details and store information to the server. All other functionalities will work the same as for a registered user.</p>

<h2><strong><a href="#lnk_c_2" id="lnk_2">One time registration</a></strong></h2>

<p>The one time registration process is quick and simple. The user has to provide a valid email address, password, name, gender and date of birth. Upon registration, the app will sign in to the home screen. If &#39;Remember me&rdquo; is enabled then the user will be always logged in until logged out manually. The registered user&#39;s first and last name will be shown at the bottom status bar.</p>

<p><img alt="One time registration" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=905&amp;thumb=0" title="One time registration" / /></p>

<p class="associated_details">One time registration</p>

<h2><strong><a href="#lnk_c_3" id="lnk_3">Forgot password</a></strong></h2>
When you face trouble logging in, check whether the internet is turned on and verify whether the login credentials entered are correct. If you have forgotten your password, you can reset it by pressing the&nbsp;<em>Forgot Password</em> button from the&nbsp;<em>Login</em> screen. Enter the email address you used for registration and press <em>Submit,</em>&nbsp;a temporary password will be emailed to you. You can reset your password using the link provided in the email.

<h2><strong><a href="#lnk_c_4" id="lnk_4">Guest Mode</a></strong></h2>

<p>If the user wants to explore the app in guest mode, then tap &ldquo;Guest Mode&rdquo; from the Login screen. Before taking you to the Home screen, an alert message will be displayed to the user.</p>

<p><img alt="Guest Mode" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=906&amp;thumb=0" title="Guest Mode" / /></p>

<p class="associated_details">Guest Mode</p>

<h2><strong><a href="#lnk_c_5" id="lnk_5">Syncing</a></strong></h2>

<p>After you login into the mobile app as a registered user or in guest mode, the app will sync details from the server before taking you to the Home screen. The app requires internet connection to function well with all its features. The app prepares by updating details from the server (Image 4). The data sync happens through the data connection available in the device.</p>

<p>Some users might find it taking much time to load. This might be due to connectivity issues.</p>
<img alt="Syncing" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=907&amp;thumb=0" title="Syncing" / />
<p class="associated_details">Syncing</p>

<h2><strong><a href="#lnk_c_6" id="lnk_6">Home screen</a></strong></h2>

<p>The home screen can be considered as the access point for most of the functionality tools provided by the FishingMobile app.</p>

<p>The options shown at the top of the Home screen are Main settings, Home and About FishingMobile.</p>

<p>The main options, Log Fish, Fish Log, Solunar, Weather, Dashboard, Location, Toolbox and Tidal Chart are displayed at the middle section of the screen.</p>

<p>The bottom section of Home screen will display the weather details for the selected location from settings. If you have reached the screen as a registered user then, your name will be shown at the bottom status bar. For users in guest mode, the status will shown as Guest instead of user&#39;s name.</p>
<img alt="Registerd Home Screen" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=908&amp;thumb=0" title="Registerd Home Screen" / />
<p class="associated_details">Registerd Home Screen</p>[/html]
[html]<h3>Contents</h3>

<ul>
	<li><a href="#log_1" id="log_c_1">How to create or add a log fish</a>

	<ul>
		<li><a href="#log_2" id="log_c_2">Species</a>

		<ul>
			<li><a href="#log_3" id="log_c_3">Species by region</a></li>
			<li><a href="#log_4" id="log_c_4">Setting species by Saltwater/Freshwater</a></li>
			<li><a href="#log_5" id="log_c_5">Adding a Custom Species</a></li>
		</ul>
		</li>
		<li><a href="#log_6" id="log_c_6">Attachments</a>
		<ul>
			<li><a href="#log_7" id="log_c_7">Add a Photo</a></li>
			<li><a href="#log_8" id="log_c_8">Add a Video</a></li>
			<li><a href="#log_9" id="log_c_9">Add an Audio</a></li>
			<li><a href="#log_10" id="log_c_10">Add Note</a></li>
		</ul>
		</li>
		<li><a href="#log_11" id="log_c_11">Reset information</a></li>
		<li><a href="#log_12" id="log_c_12">Edit Information</a></li>
	</ul>
	</li>
</ul>

[/html][semihtml][title]Log Fish[/title][/semihtml][html]
Users can log their catch details using the Log Fish tool. Storing the details about how and what fish is caught will help to analyse the data. The details that can be stored in a log are: Species, Weight, Length, Girth, Lure/Bait, Method, Rigging, Scenario, Structure, Water Temperature, Depth, Date/Time and Location.<br />
For example, with this information, users can improve their lure or bait choice or identify a pattern of catching different fish species under different weather conditions etc.
<h2><a href="#log_c_1" id="log_1">How to create or add a log fish</a></h2>
To store a log, tap on the &ldquo;Log Fish&rdquo; tool shown in the Home screen.<br />
<img alt="Log Fish" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=909&amp;thumb=0" title="Log Fish" wrong1037="wrong1037" / />
<p class="associated_details">Log Fish</p>
<img alt="Add Species" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=910&amp;thumb=0" title="Add Species" wrong1222="wrong1222" / />
<p class="associated_details">Add Species</p>
The Fish Log screen lists common fields that users like to store. Users can also embed photo, video, audio and notes along with the log information.

<h3><strong><a href="#log_c_2" id="log_2">Species</a></strong></h3>
Selection of fish species available by region, freshwater, saltwater and custom species where users can add new species if not available from the selection.

<h4><strong><a href="#log_c_3" id="log_3">Species by region</a></strong></h4>
To log a species information by region,

<ol>
	<li>Tap on <em>Species.</em></li>
	<li>Tap <em>Select by Region.</em></li>
	<li>Scroll up or down to select a country.</li>
	<li>Select a <em>State</em> from the list shown.</li>
	<li>Tap on the appropriate species name.</li>
	<li>The selected species name will be shown under <em>Species</em> in the fish log.</li>
</ol>

<h5>Screenshots on how to set a species by region:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=911&amp;thumb=0" title="" wrong2240="wrong2240" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=912&amp;thumb=0" title="" wrong2366="wrong2366" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=913&amp;thumb=0" title="" wrong2492="wrong2492" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=914&amp;thumb=0" title="" wrong2618="wrong2618" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=915&amp;thumb=0" title="" wrong2744="wrong2744" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=916&amp;thumb=0" title="" wrong2870="wrong2870" / />
<h4><strong><a href="#log_c_4" id="log_4">Setting species by Saltwater/Freshwater</a></strong></h4>

<p>To log a species information by Saltwater/Freshwater,</p>

<ol>
	<li>Tap on <em>Species.</em></li>
	<li>Tap on either <em>Freshwater </em>or<em> Saltwater.</em></li>
	<li>Scroll up or down to select the Species.</li>
	<li>Finally, select the name among those listed.</li>
	<li>The selected species name will be shown under <em>Species</em> in the fish log.</li>
</ol>

<h5 class="associated_details">Screenshots on how to species by Saltwater/Freshwater:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=917&amp;thumb=0" title="" wrong3515="wrong3515" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=918&amp;thumb=0" title="" wrong3641="wrong3641" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=919&amp;thumb=0" title="" wrong3767="wrong3767" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=920&amp;thumb=0" title="" wrong3893="wrong3893" / />
<h4><strong><a href="#log_c_5" id="log_5">Adding a Custom Species</a></strong></h4>
To add a custom species,

<ol>
	<li>Tap on <em>Species.</em></li>
	<li>Tap on C<em>ustom Species.</em></li>
	<li>Enter new species name and press <em>Save.</em></li>
	<li>The custom species name will be shown under <em>Species</em> in the fish log..</li>
</ol>

<h5 class="associated_details">Screenshots on how to set a custom species:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=921&amp;thumb=0" title="" wrong4405="wrong4405" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=922&amp;thumb=0" title="" wrong4531="wrong4531" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=923&amp;thumb=0" title="" wrong4657="wrong4657" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=924&amp;thumb=0" title="" wrong4783="wrong4783" / />
<h4><strong><a href="#log_c_6" id="log_6">Attachments</a></strong></h4>
The FishingMobile app allows you to attach additional details in a Fish Log. Users can attach photo, video, audio and any additional notes. Adding an attachment is a simple process, tap on the desired option and add. For easy identification, the icons will turn green upon successful attachment.

<h4><strong><a href="#log_c_7" id="log_7">Add a Photo</a></strong></h4>
To add a photo,

<ol>
	<li>Tap the&nbsp;<em>Photo </em>button&nbsp;shown under &ldquo;New Fish Log &ndash; Attachments&rdquo;.</li>
	<li>Tap <em>Select from Gallery</em> to pick a photo from image gallery or take a new photo and attach.</li>
	<li>The <em>Photo</em> icon should turn green to indicate that the attachment is completed successfully.</li>
</ol>
<img alt="Add a Photo" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=925&amp;thumb=0" title="Add a Photo" wrong5631="wrong5631" / />
<p class="associated_details">Add a Photo</p>

<h4><strong><a href="#log_c_8" id="log_8">Add a Video</a></strong></h4>
The steps to add a video are similar to adding a photo,

<ol>
	<li>Tap the <em>Video </em>button&nbsp;shown under &ldquo;New Fish Log &ndash; Attachments&rdquo;.</li>
	<li>Tap <em>Select from Gallery</em> to pick a video from gallery or record a new video and attach.</li>
	<li>The <em>Video</em> icon should turn green to indicate that the attachment is completed successfully.</li>
</ol>
<img alt="Add a Video" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=926&amp;thumb=0" title="Add a Video" wrong6230="wrong6230" / />
<p class="associated_details">Add a Video</p>

<h4><strong><a href="#log_c_9" id="log_9">Add an Audio</a></strong></h4>
To add an audio,

<ol>
	<li>Tap the&nbsp;<em>Audio </em>button&nbsp;shown under &ldquo;New Fish Log &ndash; Attachments&rdquo;</li>
	<li>Tap <em>Start Recording</em>.</li>
	<li>Record the audio and tap <em>Stop Recording</em> once completed.</li>
	<li><em>Save </em>the Audio</li>
	<li>The <em>Audio</em> icon should turn green to indicate that the attachment is completed successfully.</li>
</ol>

<h5 class="associated_details">Screenshots on how to set a add an Audio:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=927&amp;thumb=0" title="" wrong6892="wrong6892" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=928&amp;thumb=0" title="" wrong7018="wrong7018" / />
<h4><strong><a href="#log_c_10" id="log_10">Add Note</a></strong></h4>
To add a note,

<ol>
	<li>Tap the&nbsp;<em>Note </em>button&nbsp;shown under &ldquo;New Fish Log &ndash; Attachments&rdquo;.</li>
	<li>Enter the note description.</li>
	<li><em>Save </em>the note.</li>
	<li>The Note icon should turn green to indicate that the attachment is completed successfully.</li>
</ol>

<h5 class="associated_details">Screenshots on how to add a Note:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=929&amp;thumb=0" title="" wrong7531="wrong7531" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=930&amp;thumb=0" title="" wrong7657="wrong7657" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=931&amp;thumb=0" title="" wrong7783="wrong7783" / /><br />
<br />
<em>Species</em> is a required information field while creating a log. Other information,&nbsp;Weight, Length, Girth, Lure/Bait, Method, Rigging, Scenario, Structure, Water Temperature, Depth, Date/Time and Location are optional.

<h4><strong>Weight</strong></h4>
The weight measurement can be provided in Pounds and Ounces. The value can be entered directly. The app also have feature to set the value by tapping plus (+) or minus (-) symbols.

<h4>Length and Girth</h4>
The captured fish&#39;s length and girth can be entered in inches. The value can be entered directly. The app also have feature to set the value by tapping plus (+) or minus (-) symbols.&nbsp;

<h4>Lure/Bait</h4>
Select the type of lure or bait used to get the catch from the displayed list.

<h4>Method</h4>
Select the method from the displayed list.

<h4>Rigging</h4>
Either pick the any of the listed options among standard riggings or you can add your own custom rigging.

<h4>Scenario</h4>
Select the Scenario from the displayed list.

<h4>Structure</h4>
Select the Structure from the displayed list.

<h4>Water Temperature</h4>
The water temperature can be provided in Fahrenheit. The value can be entered directly. The app also has the feature to set the value by tapping plus (+) or minus (-) symbols.

<h4>Depth</h4>
The depth can be provided in Feet. The value can be entered directly. The app also has the feature to set the value by tapping plus (+) or minus (-) symbols.

<h4>Date/Time</h4>
The date and time can be picked from the display date and time picker. The app also has a feature to set the value by tapping plus (+) or minus (-) symbols.

<h4>Location</h4>
You can allow the GPS location to be picked automatically. There is also an option provided to enter the GPS coordinates manually.

<h3><strong><a href="#log_c_11" id="log_11">Reset information</a></strong></h3>
If you want to reset any of this information, press the reset button next to that field. The reset button is represented by a curved arrow symbol (<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=932&amp;thumb=0" title="" wrong9840="wrong9840" / />).
<h5>Screenshots on how to reset information:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=933&amp;thumb=0" title="" wrong10012="wrong10012" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=934&amp;thumb=0" title="" wrong10138="wrong10138" / />
<h3><strong><a href="#log_c_12" id="log_12">Edit Information</a></strong></h3>
To edit information, press the edit button.&nbsp;The edit button is represented by a downwards arrow symbol (<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=935&amp;thumb=0" title="" wrong10404="wrong10404" / />).
<h5>Screenshot on how to edit information:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=936&amp;thumb=0" title="" wrong10575="wrong10575" / />[/html]
[html]<h3>Contents</h3>

<ul>
	<li><a href="#lnk_0" id="lnk_c_0">Fish Log</a>

	<ul>
		<li><a href="#lnk_1" id="lnk_c_1">View a Fish Log</a></li>
		<li><a href="#lnk_2" id="lnk_c_2">Share a Fish Log</a></li>
		<li><a href="#lnk_3" id="lnk_c_3">Edit a Fish Log</a></li>
		<li><a href="#lnk_4" id="lnk_c_4">Delete a Fish Log</a></li>
	</ul>
	</li>
</ul>

[/html][semihtml][title]<a href="#lnk_c_0" id="lnk_0">Fish Log</a>[/title][/semihtml][html]

<p>The fish log entries created through the&nbsp;<i>Log Fish</i> option can be viewed in the&nbsp;<i>Fish Log </i>section. The <i>Fish Log</i> section lists the logs and allows the user to edit or delete them.</p>

<p>To access the Fish Log section in FishingMobile, tap on <i>Fish Log</i> from the Home screen.</p>

<p>If you are looking for help in creating a new fish log, visit the&nbsp;<a href="https://fishingmobile.com/news/view/fishingmobile-help/log-fish.htm?filter=128" target="_blank" title="Log Fish: (this link will open in a new window)">Log Fish</a> help article.</p>

<h3><span class="inner"><a href="#lnk_c_1" id="lnk_1">View a Fish Log</a></span></h3>

<p>FishingMobile app syncs the log information in a centralized server. When you visit the <i>Fish Log</i> screen, the logs will be synced with the server before listing them in the screen.</p>

<p>The fish logs will be listed when you tap on <i>Fish Log</i> from the Home screen.</p>

<p>To view the stored fish log information:</p>

<ol>
	<li>Tap on the fish log entry.</li>
	<li>View the information stored.</li>
</ol>

<h5>Screenshots on how to view Fish Log:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=939&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=940&amp;thumb=0" title="" / />
<h3><span class="inner"><a href="#lnk_c_2" id="lnk_2">Share a Fish Log</a></span></h3>

<p>You can also share your log as a post with your friends on Facebook and Twitter.</p>

<p>After opening a fish log information, a <em>Share Log With Friends</em> button is shown at the bottom right corner. Press it to get a dialog box asking to share with Facebook or Twitter. You can share by pressing the&nbsp;<em>Share</em> button next to your desired social network.</p>

<h5>Screenshots on how to share a fish log:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=941&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=942&amp;thumb=0" title="" / />
<h3><span class="inner"><a href="#lnk_c_3" id="lnk_3">Edit a Fish Log</a></span></h3>

<p>When you tap on <i>Fish Log</i> from the Home screen, the fish logs stored from the server will be synced and listed.</p>

<p>To edit a fish log, tap the pencil button (&nbsp;<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=947&amp;thumb=0" title="" / />&nbsp;)&nbsp;next to its name.&nbsp;</p>

<p>The FishingMobile app allows users to edit all the information stored in a fishing log. The details that can be edited include Species, Weight, Length, Girth, Lure/Bait, Method, Rigging, Scenario, Structure, Water Temperature, Depth, Date/Time and Location. You can also edit the attachments, photo, video, audio and note.</p>

<h5>Screenshots on how to edit a fish log:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=943&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=944&amp;thumb=0" title="" / />
<h3><span class="inner"><a href="#lnk_c_4" id="lnk_4">Delete a Fish Log</a></span></h3>

<p>When you tap on <i>Fish Log</i> from the Home screen, the fish logs stored from the server will be synced and listed.</p>

<p>To delete a fish log, tap the trash bin&nbsp;button &nbsp;(<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=948&amp;thumb=0" title="" / />)&nbsp;next to its name. You will be asked for a confirmation to delete. &nbsp;Be careful when deleting a fish log,&nbsp;deletion is permanent and cannot be undone.</p>

<h5>Screenshots on how to delete a fish log:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=945&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=946&amp;thumb=0" title="" / />[/html]
[html]<p></p>
Solunar is a time table used by fishermen and hunters. The time table is based on a theory about the movement of fish and animals based on the position of Sun (Sol-) and Moon (-lunar).

<p></p>

<p>To access Solunar in FishingMobile, tap at <em>Solunar </em>from the Home screen.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=949&amp;thumb=0" title="" / /></p>

<p>The Solunar screen displays information about Sunrise, Sunset, Moonrise, Moonset and fish daily rating etc. The FishingMobile app allows the users to view the Solunar either in calender view or in daily list view. The Solunar details are shown for the selected location. To select another or to add a new location, tap at the triangle shape shown at the bottom right corner.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=950&amp;thumb=0" title="" / /></p>

<p>With reference to the hand icons shown in above image (Solunar Screen):</p>

<ol>
	<li>To set the Calender View for Solunar.</li>
	<li>To set List View for Solunar.</li>
	<li>To go to previous month Solunar details.</li>
	<li>To go to next month Solunar details.</li>
	<li>To view Best Fishing day/time information.</li>
	<li>To add a new location or change to another location.</li>
	<li>To show Solunar details for today. &nbsp;</li>
</ol>[/html]
[html]Weather contributes as one of the major factors in assisting with details for the fishing experience. FishingMobile provides a dedicated weather screen for users to view the weather details for a location. The FishingMobile app allows users to add multiple locations for reference.
<p></p>

<p>Weather details such as temperature, forecast, wind speed, pressure and visibility are shown in daily, weekly and hourly modes for the selected location. You can select and store multiple locations for weather details.</p>

<p>From the Home screen, tap the Weather button to view weather details.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=951&amp;thumb=0" title="" / /></p>

<p><img alt="Weather Screen" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=952&amp;thumb=0" title="Weather Screen" / /></p>

<p class="associated_details">Weather Screen</p>

<p></p>

<p>With reference to the hand icons shown in the above image (Weather Screen):</p>

<ol>
	<li>To set the Weekly View for Weather.</li>
	<li>To set the List View for Weather.</li>
	<li>To add a new location or change to another location.</li>
	<li>To view the Radar Map Layer.</li>
</ol>

<h3><strong>Radar Map Layer</strong></h3>
Press the Radar Map Layer icon shown at the bottom bar in the Weather screen.

<p></p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=953&amp;thumb=0" title="" / /></p>

<p>With reference to the hand icons shown in the above image (Radar Map):</p>

<ol>
	<li>To jump back to previous Radar Map Layer frame.</li>
	<li>To jump back to next Radar Map Layer frame.</li>
	<li>To toggle between play and pause of the animation.</li>
</ol>

<p></p>[/html]
[semihtml][title]<strong>Dashboard - Strike Marker</strong>[/title][/semihtml][html]
The FishingMobile app depends on the GPS receivers to track speed. The dashboard will display the speed that you are travelling at if GPS is enabled. Below the speed indicator, a digital GPS compass is displayed to assist with navigation. The GPS compass displays the true North direction and provides accurate orientation.<br />
<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=954&amp;thumb=0" title="" / />
<h3>Strike Marker</h3>
A &#39;Strike Marker&#39; option is given at the bottom of the dashboard screen. Users can press the strike marker button to quickly store their current co-ordinates in the Location tool.<br />
<br />
<img alt="Dashboard showing speed, compass and Strike Maker button" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=955&amp;thumb=0" title="Dashboard showing speed, compass and Strike Maker button" / />
<p class="associated_details">Dashboard showing speed, compass and the Strike Maker button</p>[/html]
[html]<h3>Contents</h3>

<ul>
	<li><a href="#lnk_1" id="lnk_c_1">Location</a>

	<ul>
		<li><a href="#lnk_2" id="lnk_c_2">Waypoint</a>

		<ul>
			<li><a href="#lnk_3" id="lnk_c_3">Regular waypoint</a></li>
			<li><a href="#lnk_4" id="lnk_c_4">Route waypoint</a></li>
		</ul>
		</li>
		<li><a href="#lnk_5" id="lnk_c_5">Edit a route</a></li>
		<li><a href="#lnk_6" id="lnk_c_6">Delete a route</a></li>
		<li><a href="#lnk_7" id="lnk_c_7">Edit a waypoint</a></li>
		<li><a href="#lnk_8" id="lnk_c_8">Delete a waypoint</a></li>
		<li><a href="#lnk_9" id="lnk_c_9">Direction</a></li>
		<li><a href="#lnk_10" id="lnk_c_10">Distance</a></li>
		<li><a href="#lnk_11" id="lnk_c_11">Strike Marker</a></li>
	</ul>
	</li>
</ul>

[/html][semihtml][title]<a href="#lnk_c_1" id="lnk_1">Location, Waypoints and Route </a>[/title][/semihtml][html]
The Location screen in FishingMobile has an integrated Google Maps service. Users can search for a location, switch between map and satellite views and quickly jump to saved locations.

<p>The Location screen requires that the GPS or location service be turned on to experience the Google Maps navigation features.<br />
<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=962&amp;thumb=0" title="" / /></p>

<h2><a href="#lnk_c_2" id="lnk_2">Waypoint</a></h2>

<p>A waypoint refers to single location. Using the integrated Google Maps feature, users can save the coordinates as a waypoint. These coordinates include longitude and latitude.</p>

<p>There are two types of waypoints in the FishingMobile app:</p>

<ol>
	<li>Regular waypoint</li>
	<li>Route waypoint</li>
</ol>

<h3><strong><a href="#lnk_c_3" id="lnk_3">Regular waypoint:</a></strong></h3>
The regular waypoints on the map are separate from the waypoints you add when creating a route. Regular waypoints could be used for marking good spots, ramps, anything really. They are a general purpose tool. The regular waypoints don&#39;t carry over when you create the route waypoints.

<p>To create a regular waypoint, Tap <em>Location </em>from the&nbsp;<em>Home</em>&nbsp;screen:</p>

<ul>
	<li>Tap on the balloon icon shown at the bottom left corner.</li>
	<li>Tap <em>Use My Location</em> to allow the app to pick the current GPS location. You can also manually give GPS co-ordinates by choosing <em>Enter GPS Coordinates.</em></li>
	<li>Give a name for the regular waypoint and tap <em>Save.</em></li>
	<li>A red balloon will appear at the location as an indicator. A quick tap over the red balloon will give you the options to edit or delete that waypoint.</li>
</ul>

<h5>Screenshots on how to set a regular waypoint:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=956&amp;thumb=0" title="" / />
<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=957&amp;thumb=0" title="" / /></p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=958&amp;thumb=0" title="" / /></p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=959&amp;thumb=0" title="" / /></p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=960&amp;thumb=0" title="" / /></p>

<h3><strong><a href="#lnk_c_4" id="lnk_4">Route waypoint:</a></strong></h3>

<p>You can set a route waypoint while you create a route. One or many route waypoints are used to form a route.</p>

<p>Steps to create a route along with route waypoints:</p>

<ol>
	<li>Tap <em>Location</em> from the&nbsp;<em>Home</em>&nbsp;screen and tap on the <em>Routes button</em> shown at the bottom right.</li>
	<li>Tap <em>Create new Route</em> to set a new route.</li>
	<li>Give a name to the new route and press <em>Save.</em></li>
	<li>The saved new name will appear under <em>Name </em>and now tap on <em>Waypoints. </em>The waypoints set in a route will be applicable only for that route. You can create multiple routes by repeating the same steps later.</li>
	<li>You can create a route waypoint by long pressing on a location over the map.</li>
	<li>A red balloon will appear as an indicator that a route waypoint is set.</li>
	<li>If you need to set more than one waypoint, repeat step no. 5. A route waypoint will be created wherever you do a long press. You can edit or delete each route waypoint. Press <em>Save.</em></li>
	<li>Tap on the newly set route.</li>
	<li>Tap <em>Track</em> shown at the bottom bar. The indicator will turn green to notify that tracking is now enabled. To stop tracking, tap again at <em>Track.</em></li>
</ol>

<p>By enabling tracking, users can view traveling speed, distance to next route waypoint, total distance and estimated time to reach etc. The FishingMobile app depend on the GPS location service to show these details. Make sure the location service is allowed for FishingMobile through settings.</p>

<h5>Screenshots on how to set a route with route waypoints:</h5>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=963&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=964&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=965&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=966&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=967&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=968&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=969&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=970&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=971&amp;thumb=0" title="" / />
<h3><strong><a href="#lnk_c_5" id="lnk_5">Edit a route</a></strong></h3>

<p>Steps to edit a route:</p>

<ol>
	<li>Tap <em>Location</em> from the&nbsp;<em>Home</em> screen and tap on the <em>Routes</em>&nbsp;button shown at the bottom right.</li>
	<li>If tracking is enabled (Tap on the green button shown at bottom to turn it off), stop it.</li>
	<li>Tap on the pencil icon ( <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=985&amp;thumb=0" title="" / /> ) next to the name of the route you want to edit.</li>
	<li>You can make changes like adding or deleting waypoints, renaming route name etc.</li>
	<li><em>Save</em> the changes.</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=980&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=981&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=982&amp;thumb=0" title="" / />
<h3><strong><a href="#lnk_c_6" id="lnk_6">Delete a route</a></strong></h3>

<p>Steps to delete a route:</p>

<ol>
	<li>Tap <em>Location</em> from the&nbsp;<em>Home</em> screen and tap on the <em>Routes</em>&nbsp;button shown at the bottom right.</li>
	<li>If tracking is enabled (Tap on the green button shown at bottom to turn it off), stop it.</li>
	<li>Tap on the trash bin icon ( <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=986&amp;thumb=0" title="" / /> ) next to the name of the route you want to delete.</li>
	<li>Confirm the changes.</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=983&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=984&amp;thumb=0" title="" / />
<h3><strong><a href="#lnk_c_7" id="lnk_7">Edit a waypoint</a></strong></h3>
<strong> </strong>

<p><strong>To edit a waypoint or strike marker:</strong></p>
<strong> <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=978&amp;thumb=0" title="" / /> </strong>

<ol>
	<li><strong>Tap the Location button from the Home screen.</strong></li>
	<li><strong>Tap on the&nbsp;<em>Routes</em> button and choose the route from which you want to edit a waypoint.</strong></li>
	<li><strong>Pan the map to pick the waypoint you want to edit. A waypoint is shown as a pointer icon aka balloon icon (&nbsp; <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=976&amp;thumb=0" title="" / /> ).</strong></li>
	<li><strong>Do a quick tap on the balloon icon (waypoint) you want to edit.</strong></li>
	<li><strong>A popup will appear at the top of the balloon with coordinates, a pencil icon( <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=973&amp;thumb=0" title="" / /> ) and trash bin icon.</strong></li>
	<li><strong>Tap on the pencil icon to edit the waypoint.</strong></li>
</ol>
<strong> </strong>

<h3><strong><strong><a href="#lnk_c_8" id="lnk_8">Delete a waypoint</a></strong></strong></h3>
<strong> </strong>

<p><strong>To delete a waypoint or strike marker:</strong></p>
<strong> <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=979&amp;thumb=0" title="" / /> </strong>

<ol>
	<li><strong>Tap the Location button from the Home screen.</strong></li>
	<li><strong>Tap on <em>Routes</em> button and choose the route from which you want to delete a waypoint.</strong></li>
	<li><strong>Pan the map to pick the waypoint you want to delete. A waypoint is shown as a pointer icon aka balloon icon (&nbsp; <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=977&amp;thumb=0" title="" / /> ).</strong></li>
	<li><strong>Do a quick tap on the balloon icon (waypoint) you want to delete.</strong></li>
	<li><strong>A popup will appear at the top of the balloon with coordinates, a pencil icon and trash bin icon ( <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=975&amp;thumb=0" title="" / /> ).</strong></li>
	<li><strong>Tap on the trash bin icon to delete the waypoint.</strong></li>
</ol>
<strong> </strong>

<h3><strong><strong><a href="#lnk_c_9" id="lnk_9">Direction</a></strong></strong></h3>
<strong> To know the co-ordinates about the heading direction, tap on the ( <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=990&amp;thumb=0" title="" / /> ) button.<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=987&amp;thumb=0" title="" / /> </strong>

<h3><strong><strong><a href="#lnk_c_10" id="lnk_10">Distance</a></strong></strong></h3>
<strong> To know the distance from one position to a nearby waypoint, tap on the distance button ( <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=991&amp;thumb=0" title="" / /> ) and drag it on the the screen.<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=988&amp;thumb=0" title="" / /> </strong>

<h3><strong><strong><a href="#lnk_c_" id="lnk_">Strike Marker</a></strong></strong></h3>
<strong> To place a strike marker for a favorite place, tap on the the strike marker button ( <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=992&amp;thumb=0" title="" / /> ) to store the details along with the waypoint.<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=989&amp;thumb=0" title="" / /></strong>[/html]
[semihtml][title]<strong>Toolbox</strong>[/title][/semihtml][html]

<p>The Toolbox screen provides multiple important functionalities.</p>

<p>To launch the Toolbox from the Home screen, tap on the&nbsp;<em>Toolbox </em>button.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=994&amp;thumb=0" title="" / /></p>

<p>The functionality options shown in the Toolbox screen are:</p>

<ol>
	<li>LED Light</li>
	<li>LCD Light</li>
	<li>Morse</li>
	<li>Rigging</li>
	<li>Knots</li>
	<li>Articles</li>
	<li>Invite Friend</li>
	<li>Forum</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=995&amp;thumb=0" title="" / />
<p></p>[/html]
[html]<p></p>

[/html][semihtml][title]<strong>LED Light</strong>[/title][/semihtml][html]
The LED Light option can be used to use your phone&#39;s camera flash like a flashlight. When you tap on the LED Light option, the button will turn green to indicate that its on and the LED flash will be lit.

<p>You can tap on the button again to turn off the flashlight.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=996&amp;thumb=0" title="" / /></p>[/html]
[semihtml][title]<strong>LCD Light</strong>[/title][/semihtml][html]
The LCD Light option is used to display a bright blank screen to give some light for the surroundings. This functionality will be useful when you are in a dark place and the device doesn&#39;t have a camera flash to use as an LED light.

<p>To launch the LCD Light:</p>

<ol>
	<li>From the Home screen, tap <em>Toolbox.</em></li>
	<li>Tap at the&nbsp;<em>LCD Light</em> button shown in the Toolbox popup.</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=997&amp;thumb=0" title="" / />
<p></p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=998&amp;thumb=0" title="" / /></p>

<p>By default white is the color set for the blank screen.</p>

<h3><strong>Changing the default color</strong></h3>
You can change the screen color through settings by tapping at the color picker icon shown at the bottom right corner. The selected custom color will apply only for that session. Once you exit and re-enter LCD Light, the color will be reset to white.

<p></p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=999&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1000&amp;thumb=0" title="" / /></p>[/html]
[semihtml][title]<strong>Morse</strong>[/title][/semihtml][html]
The Morse feature is a vital functionality available with the FishingMobile app during any emergency. The Morse screen can be used to flash Morse codes for communication, this functionality is only effective in the dark as the app uses light to flash the codes.

<p></p>

<p>To launch the Morse code section:</p>

<ol>
	<li>From Home screen, tap <em>Toolbox</em></li>
	<li>Tap at the&nbsp;<em>Morse</em> button shown in the Toolbox popup.</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1001&amp;thumb=0" title="" / />
<p></p>

<p>Users can tap on the screen to flash the light to communicate using Morse code. The app allows users to use the front side LCD screen or back side LED flashlight to display the code.&nbsp; If you are using a device without a flashlight in it, then the LCD screen comes in handy.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1004&amp;thumb=0" title="" / /></p>

<p>For an LCD screen, white is the default color and an option is available for the user to change color. Whenever the user exits the Morse code section, the LCD screen will reset to white as its default color.</p>

<h3>Morse help</h3>
There is a pre-set SOS Morse code available, users can tap on it to send an SOS message during an emergency. Users can also set a custom message to transmit by pressing the arrow next to the SOS button and entering the desired message.&nbsp;

<p>Additionally, a brief and handy tutorial about Morse Code is available as help.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1003&amp;thumb=0" title="" / /></p>[/html]
[html]<p></p>

[/html][semihtml][title]Rigging[/title][/semihtml][html]
The FishingMobile app covers the top 28 most popular and successful riggings. Users can explore rigging illustrations by their common rig names.

<p></p>

<p>To access rigging illustrations:</p>

<ol>
	<li>From the Home screen, tap <em>Toolbox.</em></li>
	<li>Tap the&nbsp;<em>Rigging</em> button shown in the Toolbox popup.</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1005&amp;thumb=0" title="" / />
<p></p>

<p>Users can view a rig by tapping on its name. For example, to view the illustration for the Blackfish rig, just tap its name, &ldquo;Blackfish Rig&rdquo;.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1006&amp;thumb=0" title="" / /></p>

<p>The app allows you to zoom in and out of the picture by pinching or using the zoom buttons shown at the bottom right corner.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1008&amp;thumb=0" title="" / /></p>[/html]
[semihtml][title]<strong>Knots</strong>[/title][/semihtml][html]
Similar to rigs, knots are also an important factor for preparing the right fishing rod equipment to catch fish under different circumstances.

<p></p>

<p>To launch the Knots section:</p>

<ol>
	<li>From the Home screen, tap <em>Toolbox.</em></li>
	<li>Tap at the&nbsp;<em>Knots</em> button shown in the Toolbox popup.</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1009&amp;thumb=0" title="" / />
<p></p>

<p>Currently the app can illustrate around 12 popular knots for the users. To view a knot, tap on the name of your knot of choice. You will be shown the process for preparing that knot with illustrations, broken down in easy to follow steps.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1010&amp;thumb=0" title="" / /></p>

<p>Users can navigate across the steps using the arrow buttons shown at the bottom. Knots can be viewed both in landscape and portrait screen modes.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1011&amp;thumb=0" title="" / /></p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1012&amp;thumb=0" title="" / /></p>[/html]
[semihtml][title]Articles[/title][/semihtml][html]
Users can download and read the articles posted on the FishingMobile website using the app.

<p></p>

<p>To download an article:</p>

<ol>
	<li>From the Home screen, tap <em>Toolbox</em></li>
	<li>Tap the&nbsp;<em>Articles</em> button shown in the Toolbox popup.</li>
	<li>Browse <em>Categories.</em></li>
	<li>Tap on the topic you want to read, that article will be downloaded and saved for reading.</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1013&amp;thumb=0" title="" / />
<p></p>

<p>The download and availability status of an article can be identified by the icon shown next to that article&#39;s title, as shown in the screenshot below:</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1014&amp;thumb=0" title="" / /></p>

<p>Articles only need to be downloaded once and are stored in your mobile device for future reading. Downloaded articles will be available in offline mode as well.&nbsp;Once downloaded, the user can read the article by tapping the article&nbsp;title.&nbsp;</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1015&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1016&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1017&amp;thumb=0" title="" / /><br />
<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1020&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1021&amp;thumb=0" title="" / /></p>[/html]
[html]<p></p>

[/html][semihtml][title]Invite Friend[/title][/semihtml][html]
This option will show you a list of stored email addresses from your phone contacts. Users can send individual invitations to their friends from this list by pressing the invite button shown next to their names.

<p></p>

<p>To open the Invite Friend screen:</p>

<ol>
	<li>From the Home Screen, tap <em>Toolbox.</em></li>
	<li>Tap the&nbsp;<em>Invite Friend</em> button shown in the Toolbox popup.</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1022&amp;thumb=0" title="" / />
<p></p>

<p>You can also send an invite by manually entering a name and email address in the fields shown at the top and pressing the <em>Invite</em> button.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1023&amp;thumb=0" title="" / /></p>[/html]
[semihtml][title]Forum[/title][/semihtml][html]
You can use the app to participate in the FishingMobile online&nbsp;community forums. Users can view discussions, login and contribute. To access the forums:

<ol>
	<li>From the Home Screen, tap <em>Toolbox.</em></li>
	<li>Tap the&nbsp;<em>Forum</em> button shown on the Toolbox popup.</li>
	<li>Voila! now you can navigate through the available sections and topics.</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1024&amp;thumb=0" title="" / />
<p></p>

<p>You can navigate through the topics &nbsp;and&nbsp;threads of your choice as shown below:</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1025&amp;thumb=0" title="" / /></p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1026&amp;thumb=0" title="" / /></p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1027&amp;thumb=0" title="" / /></p>

<p>You can access the forum options menu by pressing the hamburger icon. ( <img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1028&amp;thumb=0" title="" / /> )<br />
<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1029&amp;thumb=0" title="" / /></p>[/html]
[html]<h3>Contents</h3>

<ul>
	<li><a href="#lnk_1" id="lnk_c_1">Add a new location</a></li>
	<li><a href="#lnk_2" id="lnk_c_2">Change a location</a></li>
	<li><a href="#lnk_3" id="lnk_c_3">Delete a location</a></li>
</ul>

[/html][semihtml][title]<strong><span class="inner">Tidal Chart</span></strong>[/title][/semihtml][html]

<p></p>

<p>The Fishing Mobile app automatically detects your location and show you the matching weather, tides and solunar data for that location.</p>

<p><img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1030&amp;thumb=0" title="" / /></p>

<p>However, for this to work correctly, the following must be true:</p>

<ol>
	<li>GPS should be enabled on your phone (and for iPhone/iPad you must grant the permission to use it when prompted by the app).</li>
	<li>You need a &ldquo;line of sight&rdquo; to GPS satellites. (i.e. A clear view of the sky.)</li>
</ol>
Instead of GPS, you could be connected to a WiFi network that we can use to detect your location &ndash; but this is less accurate and unreliable. We also have to wait longer to detect the lack of GPS signals before trying to get a WiFi location lock, it&#39;s not a perfect process.

<p></p>

<p>Our app also lets you save custom locations for ease of use. The locations you store will be shared between the weather, tides and solunar screens.</p>

<p>This guide shows you how to add a custom tides location, this is a bit more involved than than just saving a location because there is an additional step for choosing your preferred tidal station.</p>

<p>Read on for a step by step guide with screenshots.</p>

<h3><strong><a href="#lnk_c_1" id="lnk_1">Add a new location</a></strong></h3>
To add a new location:

<ol>
	<li>From the&nbsp;<em>Tidal Chart</em> screen tap at the triangle icon shown at the right bottom corner.</li>
	<li>The <em>Location </em>screen will open and list the saved locations if you have any already added.</li>
	<li>Tap on <em>Add New Location.</em></li>
	<li>Enter your desired location name and tap <em>Search.</em></li>
	<li>The relevant location name will be displayed based on the entered keywords.</li>
	<li>Tap on your desired location name, you will be further&nbsp;asked to choose the&nbsp;<em>Exact Tide Station</em> from that location.</li>
	<li>The Tidal Chart details will appear once the desired tide station is selected.</li>
</ol>
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1033&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1034&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1035&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1036&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1037&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1038&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1039&amp;thumb=0" title="" / />
<h3><strong><a href="#lnk_c_2" id="lnk_2">Change a location</a></strong></h3>

<p></p>

<p>To Change a location:</p>

<ol>
	<li>From the&nbsp;<em>Tidal Chart</em> screen tap at the triangle icon shown at the right bottom corner.</li>
	<li>The <em>Location </em>screen will open and list your saved locations.</li>
	<li>Tap on your desired location name, it will further ask you to choose the&nbsp;<em>Exact Tide Station</em> in the chosen location.</li>
	<li>The Tidal Chart details will appear once a tide station is selected.</li>
</ol>
<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1044&amp;thumb=0" title="" / /><br />
<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1040&amp;thumb=0" title="" / /><br />
<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1041&amp;thumb=0" title="" / /><br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1042&amp;thumb=0" title="" / />
<h3><strong><a href="#lnk_c_3" id="lnk_3">Delete a location</a></strong></h3>

<p>If you want to delete a location, open the locations popup and tap the trash bin icon shown next to the location you want to delete.<br />
<br />
<img alt="" class="attachment_img" src="https://fishingmobile.com/data/attachment.php?id=1045&amp;thumb=0" title="" / /></p>[/html]
